In [1]:
import pandas as pd

In [5]:
# csv格式的数据集，直接用read_csv
# ufo = pd.read_table('http://bit.ly/uforeports', sep = ',')
ufo = pd.read_csv('http://bit.ly/uforeports')

In [6]:
type(ufo)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [9]:
# 1.选择列
ufo.City
# 1.以上方法对于没有空格分隔的变量是最快捷的选择方式
# 2.以上方法无法选择到与python程序关键字重名的变量，比如shape,head等
type(ufo.City)

pandas.core.series.Series

In [11]:
# 2.选择列
# 对于有空格分隔的变量，只能用另一种方式
ufo['Colors Reported']
type(ufo['Colors Reported'])

pandas.core.series.Series

In [12]:
# 新建列
# 新建列必须用[]，不能用第一种方法
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()
# 以下是错误方法：
# ufo.Location = ufo.City + ', ' + ufo.State

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"