In [ ]:
import pandas as pd

In [2]:
# 1.传入字典，转换成DataFrame
# - key 作为列名
# - value 作为列值
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'green', 'blue']})
# 发现color列成为第一列
# 怎么设置id列作为第一列呢？

   color   id
0    red  100
1  green  101
2   blue  102

In [3]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'green', 'blue']}, 
             columns = ['id', 'color'])

    id  color
0  100    red
1  101  green
2  102   blue

In [4]:
# 还想设置index，怎么办？
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'green', 'blue']}, 
             columns = ['id', 'color'], 
             index = ['a', 'b', 'c'])

    id  color
a  100    red
b  101  green
c  102   blue

In [6]:
# 2.传入list
# list中的每个list作为一个样本
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'green']], 
             columns = ['id', 'color'])

    id  color
0  100    red
1  101   blue
2  102  green

In [7]:
import numpy as np

In [8]:
# 生成一个numpy array,四行2列
# rand函数：从0-1中随机采样
arr = np.random.rand(4, 2)
arr

array([[ 0.02723723,  0.35823122],
       [ 0.39385478,  0.56915507],
       [ 0.24199949,  0.97485311],
       [ 0.88855345,  0.72441647]])

In [9]:
pd.DataFrame(arr, columns = ['a', 'b'])

          a         b
0  0.027237  0.358231
1  0.393855  0.569155
2  0.241999  0.974853
3  0.888553  0.724416

In [10]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})
# np.arange(100, 110, 1)
# 从100开始（包括100）， 到110（不包括110），步长为1
# np.random_randint(60, 101, 10)
# 从60-101之间随机抽取10个整数，包括60不包括101

   student  test
0      100    89
1      101    87
2      102    68
3      103   100
4      104    90
5      105    75
6      106    86
7      107    92
8      108    68
9      109    81